@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    padding:0;
    margin:0;
    font-family:'Fredoka One', cursive;
}
.nav{
    background:#A6FDD3;
    padding:15px;
    font-size:18px;
    color:#1E1E1E;
    margin-bottom:50px;
}
.nav_link{
    text-decoration:none;
    color:#1E1E1E;
    text-align: center;
}
.nav_container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:auto;
    gap:86%;
}
.nav_icon{
    font-size:20px;
}


.home{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:auto;
    margin-right:150px;
    margin-left:300px;
}
.home_title{
    font-size:70px;
    margin-bottom:10px;
}
.home_sub_title{
    font-size:17px;
    font-family: 'Nunito', sans-serif;
}
.home_container{
    margin-top:100px;
}
.home_Img{
    width:400px;
}


.pregunta{
    margin-top:30px;
    background:#FF5678;
    color:#fff;
    padding:15px 30px;
    border-radius:45px;
    width:178px;
    text-align:center;
    position:relative;
    right:-185px;
    bottom:-25px;
}
main{
    background:#FFD2DB;
    padding:50px 100px 40px 100px;
    height:100%;
}
select{
    background:#fff;
    color:#FF5678;
    padding: 8px 25px;
    border-radius:5px;
    border: none;
    margin: 7px;
    font-family: 'Nunito', sans-serif; 
}
option{
    font-family: 'Nunito', sans-serif; 
}
input{
    background:#fff;
    color:#FF5678;
    padding:8px 15px;
    border-radius:5px;
    border: none;
    margin:3px;
    font-family: 'Nunito', sans-serif; 
}
input::placeholder{
    color:#FF5678;
}
button{
    background:#FF5678;
    color:#fff;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    margin:3px;
    transition: all 0.3s ease;
}
button:hover{
    background:#fa7791;
}

.ups_container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:auto;
    margin-right:300px;
    margin-left:300px;
}
.ups_title{
    margin-bottom:10px;
    font-size:70px;
    margin-top:110px;
}
.ups_sub_title{
    font-size:17px;
    font-family: 'Nunito', sans-serif;
}
.ups_Img{
    margin-top:50px;
    width:300px;
}


.cars_container{
    /* width: 40%; */
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    /* grid-template-rows:; */
    /* gap:20px; */
    /* margin-right:1rem;
    margin-left:1rem; */
}
.candy_car{
    width:220px;
    height:240px;
    background:#fff;
    border-radius:15px;
    padding:15px 15px;
    text-align: center;
}

.img_candy{
    width:220px;
    height:130px;
    border-radius:10px;
    margin-bottom:15px;
    background-color: #A6FDD3;
}
.car_button{
    background:#FFD2DB;
    color:#FF5678;
    border:none;
    padding:5px 30px;
    border-radius:20px;
    text-decoration:none;
    font-size: 16px;
    transition: all 0.3s ease;
}
.car_button:hover{
    background:#FF5678;
    color:#fff;
}
.candy_car p{
    margin-bottom:5px;
    font-family: 'Nunito', sans-serif;
}
.card_title{
    font-weight:bold;
}

.menu_cart{
    background-color:#beffe0;
    box-shadow: -2px 2px 15px #d6d6d6a8;
    border-radius: 20px;
}

.menu_cart_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu_cart_products{
    /* background-color: #A6FDD3; */
    height: auto;
}

.candy_Incar{
    margin: 6px auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height:100px;
    background:white;
    border-radius:15px;
    padding:15px 15px;
    box-shadow: 2px 1px 15px #c0c0c0a8;
}

.img_candy_Incar{
    width:160px;
    height:100px;
    border-radius:10px;
    margin-bottom:15px;
    background-color: #A6FDD3;
}

.candy_Incar button{
   background-color: white;
   height: 50px;
}

.candy_Incar button img{
    height: 25px;
}

.grid{
    display: grid;
    grid-template-areas: "products cart";
    grid-template-rows: 1fr;
}

.cars_container{
    grid-area: products;
}

.menu_cart{
    grid-area: cart;
}

.pay{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.pay_button_class{
   
    width: 50%;
    
}
.menu_cart_tittle{
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 20px;
}

.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty img{
    width:40%;
}